<section class="about">
    <div class="hero-page">
        <div class="row about">
            <div class="col">
                {{ with .Params.heroTitle }}
                <h1 class="hero-title">{{ . }}</h1>
                {{ end }}
                <p class="hero-text">{{ .Params.about }}</p>
               <a href="mailto:sasakampic@gmail.com" type="button" class="btn">Piši mi za posvet</a>
            </a>
               <div class="social"> 
                   {{ range .Params.socialLinks }}
                        <a href="{{ .URL }}"><i class="{{ .icon }}"></i></a>
                    {{ end }}
                </div>
            </div>

            <div class="col">
                <img class="hero rounded" src="{{ .Params.hero }}">
            </div>
        </div>
    </div>
</section> 

