<div id="o-meni" class="blocks scroll-fix">
    {{ range .Params.blocks }}
        {{ if eq .position "left" }}
            <div class="row left">
                <div class="col align-self-center">
                    <img class="blockpic rounded mx-auto d-block" src="{{ .image }}">
                </div>
                <div class="col">
                    <div>{{ .content | markdownify }}</div>
                </div>
            </div>
    
        {{ end }}

        {{ if eq .position "right" }}
            <div class="row right">
                <div class="col">
                    <div>{{ .content | markdownify }}</div>
                </div>
                <div class="col align-self-center">
                    <img class="blockpic rounded mx-auto d-block" src="{{ .image }}">
                </div>
            </div>
        {{ end }}
    {{ end }}
</div>  