<section id="comment" class="comment scroll-fix">
   <div class="card">
      <div class="card-header commtitle">
      Kaj o meni menijo drugi?
      </div>
      <div class="card-body">
      <blockquote class="blockquote mb-0">
         <p>Saša je postavila in oblikovala spletno stran od začetka do konca, pri tem je bila zelo hitra, natančna in inovativna. Upoštevala je moje želje ob tem pa s svojimi idejami in vizijo naredila stran pregledno in moderno. Zares najboljša izbira, če niste prepričani kako predstaviti in približati svoj izdelek svetu. Saša je zanesljiva, zagnana in s pozitivnim odnosom do dela vedno predstavi in najde še kakšno rešitev za moje projekte. Priporočam vsem, ki vrjamejo v sveže in nove ideje s katerimi Saša vedno znova preseneti.</p>
         <footer class="blockquote-footer">Petra Poznič <a href="http://telovadnica-atlet.si/"><cite title="Source Title">Telovadnica Atlet</cite></a></footer>
      </blockquote>
      </div>
   </div>
</section>