<form class="contact-form scroll-fix" data-netlify="true" netlify>
  <div id="contact" class="row form">
    <div class="col">
          <h2 class="contact-title">Kontakt</h2>
            <div class="row">
              <div class="col">
                <input type="text" class="form-control" placeholder="Name" name="name">
              </div>
              <div class="col">
                <input type="text" class="form-control" placeholder="email" name="email">
              </div>
            </div>
            <div class="msg-text">
                <textarea id="textarea" rows="3" style="margin-top" class="form-control" placeholder="send text" name="message"></textarea>
            </div>
            <div class="submit-button">
                <button class="btn" type="submit">Pošlji sporočilo</button>
            </div>
          </div> 
</form>
      <div class="col">
        <img class="contact-img" src="/svgs/undraw_personal_email_t7nw.svg">
        <address class="address">
          {{ with .Params.address }}
              <strong>{{ .name }}</strong><br>
                                   
              <abbr title="Phone"></abbr>{{ .phone }}<br>

        </address>
          {{ end }}
      </div>
  </div>
</div>