<nav class="navbar fixed-top navbar-light">
        <div class="brand">
                <a href="#" class="navbar-brand">
                        <div class="logo-top">NA</div>
                        <div class="logo-bottom">net</div>
                </a>
                <span class="separator">|</span>
                
                {{ if .IsTranslated }}
                <div class="lang-menu">
                        {{ range .Translations }}
                        <a href="{{ .Permalink }}" class="lang-link">
                                <span class="font-bold">
                                        {{ .Language | upper }}
                                </span>
                        </a>
                        {{ end }}
                </div>
                {{ end }}
        </div>
       
            <ul class="nav-links">
                <li><a href="#o-meni">O meni</a></li>
                <li><a href="#offer">Storitve</a></li>
                <li><a href="#comment">Reference</a></li>
                <li><a href="#contact">Kontakt</a></li>
            </ul>
 
        <div class="burger">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
        </div>
</nav>

