<div id="offer" class="offer-space scroll-fix">
    <section class="offer">
        <h2>Ponudba</h2>
        <p>Svetovanje in izdelava spletnih strani z osebnim pristopom.</p>
        <div class="ponudba">
            <div class="row row-no-gutters">
                
                {{ range .Params.offer }}
                <div class="col-xs-6 col-md-4">  
                    <h4 class="offer-names" >{{ .name }}</h4>
                <div>
                    <p>{{ .content | markdownify }}</p>
                </div>
                </div>
                {{ end }}
            </div>
        </div>
    </section>
    <div class="vizija">
        <blockquote class="blockquote vision">
            <h4>Vizija</h4>
            <p class="mb-0">Moja vizija je razvoj zgodb malih podjetij, ki s ponosom predstavljajo svoje delo v svetu.</p>
        </blockquote>
    </div>
    <div class="misija">
        <blockquote class="blockquote text-right mission">
            <h4>Misija</h4>
            <p class="mb-0">Voditi podjetnike do odkritja zgodbe s katero se pozicionirajo na trgu.</p>
        </blockquote>
    </div>
      
</div>