<div id="offer" class="offer-space scroll-fix">
    <section class="offer">
        {{ with .Params.offerContent }}
            <h2>{{ .name }}</h2>
            <p>{{ .content }}</p>
        {{ end }}
        <div class="ponudba">
            <div class="row row-no-gutters">
                
                {{ range .Params.offer }}
                <div class="col-xs-6 col-md-4">  
                    <h4 class="offer-names" >{{ .name }}</h4>
                <div>
                    <p>{{ .content | markdownify }}</p>
                </div>
                </div>
                {{ end }}
            </div>
        </div>
    </section>
</div>
    <div class="why">
        <div class="vizija">
            {{ with .Params.vision }}
            <blockquote class="blockquote vision">
                <h4>{{ .title }}</h4>
                <p class="mb-0">{{ .text }}</p>
            </blockquote> 
            {{ end }}
        </div>
        <div class="misija">
            <blockquote class="blockquote text-right mission">
                {{ with .Params.mission }}
                <h4>{{ .title }}</h4>
                <p class="mb-0">{{ .text }}</p>
                {{ end }}
            </blockquote>
        </div>
    </div>
      
