<section id="testimonials" data-index="3" class="testimonials scroll-fix">
   <div class="testimonials">
      <h2>Kaj o meni menijo drugi?</h2>
   
      <div class="row row-no-gutters">
        
         {{ range .Params.testimonial }}
         <div class="col-xs-6 col-md-4">
            <i class="fas fa-quote-left"></i>   
         <div>
               <p>{{ .content }}</p>
            </div>
            <div class="name">
               <h4>{{ .name }}</h4>
            </div>
            <div>
               <h4>{{ .business }}</h4>
            </div>
            <div class="reflogo">
               <a href="http://telovadnica-atlet.si/">
                  <img class="reflogo" src="{{ .image }}">
               </a>
            </div>
         </div>
         {{ end }}
      </div>
   </div>
</section>