* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding-top: 60px;
    font-family: 'Rubik', sans-serif;
}

body p {
    font-size: 1em;
}

.header {
    font-family: 'Rubik', sans-serif;
}

.logo-top {
    font-size: 25px;
}

.logo-bottom {
    font-family: 'Meddon', cursive;
    font-size: 35px;
    margin-top: -25px;
}

.navbar {
    display: flex;
    justify-content: space-around;
    background-color: white;
    align-items: center;
}

.navbar-brand {
    cursor: pointer;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 30%;
    text-transform: uppercase;
}

.nav-links li {
    padding-top: 1em;
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: lightslategray;
    transition: all .3s ease-in;
    font-weight: lighter;
}

.nav-links a:hover {
    color: salmon;
}

.burger {
    display: none;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: lightcoral;
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width:1024px){
    .nav-links {
        width: 60%;
    }
}

@media screen and (max-width:768px){
    body {
        overflow-x: hidden;
    }
    .nav-links {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li {
        opacity: 0;
    }

    .burger {
        display: block;
        cursor: pointer;
    }
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
    opacity: 0;
}
.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}   

.nav-active {
    transform: translateX(0%);
}

h1 {
    font-weight: bold;
    font-size: 3em;
}

h2 {
    font-weight: bold;
    font-size: 2.5em;
    font-family: 'Meddon', cursive;
    padding-bottom: 15px;
}

h4 {
    font-size: 1em;
}

.hero-title {
    font-family: 'Meddon', cursive;
}

.hero-page {
    height: 90vh;
    display: flex;
    align-items: center;
}

.hero {
    width: 700px;
}

.img-rounded {
   width: 300px;
}

.blockpic {
    width: 300px;
}

.social {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding-top: 20px;
}

.social-links {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    list-style: none;
}

.social a {
    padding-right: 15px;
    color: lightslategray;
}

.scroll-fix {
    margin-top: -79px;
    padding-top: 79px;
}

.about {
    padding: 50px 0 50px 0;
}

.left {
    padding-bottom: 10px;
}

.right {
    padding-bottom: 60px;
}

.btn {
    color: snow;
    border: none;
    background-color: salmon;
    transition: all .3s ease-in;
}

.btn:hover {
    color: snow;
    background-color: slategray;
}

.offer-space {
    padding-top: 150px;
}

.offer {
    align-content: center;
}

.offer-names {
    font-size: 2em;
}

.testimonials h2 {
    padding: 50px 0 20px 0;
}

.reflogo img {
    max-width: 100%;
    height: 40px;
}

.showcase {
    padding: 20px 0 50 0;
}

.ponudba {
    padding-top: 30px;
    text-align: center;
}

.name {
    padding-bottom: 10px;
}

#gallery {
    padding-top: 100px;
}

.gallery {
    display: flex;
}

.gallery-title {
    padding-bottom: 20px;
}

#about {
    padding-top: 100px;
}

#contact {
    padding-top: 100px;
}

.contact-title {
    padding: 50px 0 20px 0;
    font-family: 'Rubik', sans-serif;
    font-weight: normal;
}

.msg-text {
    padding-top: 10px;
}

.submit-button {
    padding-top: 10px;
}

.footer {
    font-family: 'Rubik', sans-serif;
    background-color: rgb(210 210 210);
}

.address {
    justify-content: center;
    padding: 100px;
    font-weight: lighter;
}

.sponsors {
    padding-top: 40px;
    display: flex;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 10rem;
  }

.sponsors li {
    list-style: none;
}

.sponsor-logos img {
    margin-right: 15vh;
    max-width: 100%;
    height: 60px;
}

.copyright {
    padding-top: 40px;
    text-align: center;
}

.disclosure {
    padding-bottom: 20px;
    text-align: center;
    font-size: small;
    font-weight: lighter;
}